.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
    width: 700px;
    padding: 10px 10px 20px 10px;
    box-sizing: border-box;

}


.ans-button{
    margin-top: 15px;
    width: 120px;
    height: 55px;

}

.ans-info {
    margin: 15px 0 20px 0;
    font-size: 20px;
}

#new-species-title {
    margin-bottom: 10px;
}

.phases {
    margin-bottom: 30px;
}