.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
    width: 800px;
    padding: 10px 10px 20px 10px;
    box-sizing: border-box;
}

.ans-button{
    margin-top: 15px;
    width: 120px;
    height: 55px;

}

.ans-inputs-row {
    gap: 50px;
}

.ans-info {
    margin: 15px 0 20px 0;
    font-size: 20px;
}

#new-species-title {
    margin-bottom: 10px;
}

.phases {
    margin-bottom: 30px;
}
.origin-row{
    align-items: center;
}

.origindescription textarea {
    margin-top: 25px;
    background-color: #fff6e6;
    padding: 2px 10px 2px 10px;
    border: none;
}