.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
    width: 700px;
    padding: 10px 10px 20px 10px;
    box-sizing: border-box;

}


.ans-button{
    margin-top: 15px;
    width: 120px;
    height: 55px;

}

.ans-info {
    margin: 15px 0 20px 0;
    font-size: 20px;
}

#new-species-title {
    margin-bottom: 10px;
}

.phases {
    margin-bottom: 30px;
}

.origindescription {
    writing-mode: horizontal-tb !important;
    font-family: monospace;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: field;
    column-count: initial !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 5px 5px 5px 10px;
    width: 180px;
    border: none;
    margin: 20px;
    opacity: 0.7;
}