.collapse-container {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapse-container:hover {
    background-color: var(--hover-brown);
}

.active {
    padding: 18px;
}

/* Style the collapsible content. Note: hidden by default */
.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapse-container:after {
    content: '+'; /* Unicode character for "plus" sign (+) */
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "-"; /* Unicode character for "minus" sign (-) */
  }