.modal {
    position: fixed;
    left: 0;
    top:0;
    right:0;
    bottom:0;
    background-color: (0,0,0,0.5);
    align-items: center;
    justify-content:center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.modal.show{
    opacity:10;
    pointer-events:visible;
    
    
}

.modal.enter-done{
    opacity:1;
    pointer-events:visible;
}

.modal.exit{
    opacity:0;
}

.modal-content {
    width:500px;
    background-color: #fff;
    transform:translateY(-175%);
    transition: transform 0.3s ease-in-out;
    margin: auto;
}

.modal.exit-active .modal-content{
    transform: translateY(-200px);
}
.modal.enter-done .modal-content{
    transform: translateY(-200px);
}

.modal.show .modal-content{
    transform: translateY(-200px);
}

.modal.exit .modal-content{
    transform: translateY(-200px);
}

.modal-header, modal-footer {
    padding: 10px;
}

.modal-title {
    margin: 0;
   
}

.modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: beige;
    justify-content: center;
    display:flex;
}

.modal-question {
    background-color:beige;
    justify-content: center;
    display:flex;
}

.modal-footer{
    display:flex;
    justify-content: space-around;
    padding:10px;
}

.modal-error {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: beige;
    justify-content: center;
    color:red;
    display:flex;
}