.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
    width: 700px;
    padding: 30px 0 20px 0;

}

.big-time {
    font-size: 42px;
}

.date {
    font-size: 20px;
    margin-bottom: -15px;
}

.mushroom-title {
    font-size: 46px;
}


.header {
    font-size: 1.7em;
    padding: 4px;
    text-align: center;
}

.box {
    margin-bottom: 10px;
}

.time {
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    width: 52%;
}

.measurements {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.measurements-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.measurements div {
    background-color: rgba(245, 246, 252, 0.40);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 20px;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
}

.measurements div h2 {
    margin-top: 0;
}

.footer {
    background-color: rgba(245, 246, 252, 0.20);
    color: black;
    font-size: 1.5em;
    padding: 4px;
    text-align: center;
    width: 60%;
}

.dashboard-card {
    display: grid;
    place-items: center;
    width: 270px;
    height: 160px;
}

.toggle {
    width: 70%;
    max-height: 60px
}