.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    margin-top: 70px;
    width: 850px;

    
}
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    font-size: 1.7em;
    padding: 4px;
    text-align: center;
}
.box{
    border-bottom: 1px solid #000000;
}

.time{
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    width: 52%;
}
.measurements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    width: 70%;
}

.measurements-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.measurements div {
    background-color: rgba(245, 246, 252, 0.20);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 0 20px;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
}

.measurements div h2 {
    margin-top: 0;
}

.footer {
background-color: rgba(245, 246, 252, 0.20);
color: black;
font-size: 1.5em;
padding: 4px;
text-align: center;
width: 60%;
}

.dashboard-card {
    display: grid;
    place-items: center;
    width: 270px;
    height: 160px;
}