:root {
    --brown: #763D2D;
    --hover-brown: #612c22;
    --light-brown: #ac8b71;
    --beige: #F6DCAF;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.ultra {
    font-family: 'Ultra', serif;
    font-weight: 400;
}

.poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.varela {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
}

.bg-dark {
    background-color: var(--brown);
}

.bg-med {
    background-color: var(--light-brown);
}

.bg-light {
    background-color: var(--beige);
}

.text-dark {
    color: var(--brown);
}

.text-light {
    color: var(--beige);
}

.border-dark {
    border: 1.7px solid var(--brown) !important;
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-top-20 {
    border-radius: 20px 20px 0 0;
}

.rounded-bottom-20 {
    border-radius: 0 0 20px 20px;
}

.overflow-hidden {
    overflow: hidden;
}

.mt-15 {
    margin-top: 15px
}


.align-self-center {
    display: flex;
    align-self: center;
}

.align-self-start {
    display: flex;
    align-self: flex-start;
}

.justify-self-start {
    display: flex;
    justify-self: flex-start;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.gap-20 {
    gap: 20px;
}


.align-items-left {
    display: flex;
    align-items: left;
}

.align-items-start {
    display: flex;
    align-items: flex-start;

}

.w-100 {
    width: 100%;
}

.w-25 {
    width: 25%
}

.h-100 {
    height: 100%;
}

.h-75 {
    height: 75%;
}

.w-50 {
    width: 50%;
}


.pt-15 {
    padding-top: 15px;
}

.p-10 {
    padding: 10px;
}


.jc-space-around {
    display: flex;
    justify-content: space-around;
}

.jc-space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.jc-space-between {
    display: flex;
    justify-content: space-between;
}

.jc-center {
    display: flex;
    justify-content: center;
}


.faded {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.20), rgba(117, 19, 19, 0.3));
}

.gap-10 {
    gap: 10px;
}


.slightly-faded {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.20), rgba(117, 19, 27, 0.15));

}

.very-slightly-faded {
    background-image: linear-gradient(to bottom, rgba(255, 235, 179, 0.1), rgba(117, 19, 27, 0.10));

}

.circled {
    border-radius: 50%;
}

.raise:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgba(111, 28, 28, 0.6);
    transform: translateY(-0.25em);
    transition: 0.25s
}

.raise:active {
    transform: translateX(-0.1em);
    transition: 0.25s
}

.raise:focus {
    box-shadow: none;
}

.wide {
    width: 175px !important;
}

.pointer {
    cursor: pointer;
}

.m-auto {
    margin: auto;
}

.text-m {
    font-size: 20px;
}

.flex-wrap {
    flex-wrap: wrap;
}


.align-self-end {
    display: flex;
    align-self: flex-end;
}

.end {
    margin-left: auto;
}

.img-100px {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.maxw-95 {
    max-width: 95%;
    box-sizing: border-box;
}

.jc-start {
    justify-content: start;
}

.maxh-95 {
    max-height: 95%;
    overflow-y: scroll;
}

.maxw-100 {
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.gap-5 {
    gap: 5px;
}

.margin-auto {
    margin: auto;
}

@media only screen and (min-width: 514px) {
    .jc-start-big-center-small {
        justify-content: flex-start;
    }
}



@media only screen and (max-width: 513px) {
    .jc-start-big-center-small {
        justify-content: center;
    }
}



