:root {
    --brown: #763D2D;
    --light-brown: #ac8b71;
    --beige: #F6DCAF;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.ultra {
    font-family: 'Ultra', serif;
    font-weight: 400;
}

.poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.varela {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
}

.bg-dark {
    background-color: var(--brown);
}

.bg-light {
    background-color: var(--beige);
}

.text-dark {
    color: var(--brown);
}

.text-light {
    color: var(--beige);
}

.border-dark {
    border: 1.7px solid var(--brown) !important;
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-20 {
    border-radius: 20px;
}

.mt-15 {
    margin-top: 15px
}

.align-self-center {
    display: flex;
    align-self: center;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.pt-15 {
    padding-top: 15px;
}

.jc-space-around {
    display: flex;
    justify-content: space-around;
}

.jc-space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.jc-space-between {
    display: flex;
    justify-content: space-between;
}

.jc-center {
    display: flex;
    justify-content: center;
}


.faded {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.20), rgba(117, 19, 19, 0.3));
}


.slightly-faded {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.20), rgba(117, 19, 27, 0.15));

}

.very-slightly-faded {
    background-image: linear-gradient(to bottom, rgba(255, 235, 179, 0.1), rgba(117, 19, 27, 0.10));

}

.circled {
    border-radius: 50%;
}

.raise:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgba(111, 28, 28, 0.6);
    transform: translateY(-0.25em);
    transition: 0.25s
}

.raise:active {
    transform: translateX(-0.1em);
    transition: 0.25s
}

.raise:focus {
    box-shadow: none;
}

.wide {
    width: 175px !important;
  }
