.cont-guide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
  width: 800px;
  max-width: 95%;
  padding: 20px;
  box-sizing: border-box;
}

.guide-page {
  margin-bottom: 50px;
  ;
}

.img-600px {
  width: 600px;
  height: 70%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
}