.mushroom-card {
    width: 270px;
    height: 160px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mc-img { 
    height: 75px;
    width: 100px;
    object-fit: cover;
}

.mc-top-row {
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 15px;
}

.mc-mushroom-name {
    font-size: 20px;
    max-width: 125px;
    word-wrap: break-word;
}