.mushroom-card {
    width: 270px;
    height: 160px;
    display: flex;
    align-items: center;
}

.img-100px { 
    width: 100px;
    height: 100%;
}

.mc-top-row {
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 15px;
}

.mc-mushroom-name {
    font-size: 24px;
    word-wrap: break-word;
    word-break:break-all;
}