:root {
    --brown: #763D2D;
    --beige: #F6DCAF;
}

.navBar {
    position: relative;
    width: 95%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: auto;
    padding: 5px 30px 5px 30px;
    box-sizing: border-box;
    height: 80px;
}

.navItems {
    width: 50%;
}

.logo {
    height: 60px;
    width: auto;
}

.title {
    font-size: 36px;
}



.navItemsText:hover {
    text-shadow: 1px 1px 10px rgba(190, 79, 0, 0.5);
    cursor: pointer;
}

.navItemsText {
    font-size: 20px;
    transition: 0.2s;
}

.separator {
    font-size: 32px;
}

.login {
    width: 10%;
}