.op-container {
    width: 700px;
    padding: 20px;
    margin: 20px auto;
}

#op-active-grows {
    gap: 5px;
}

.op-icon {
    width: 50px;
    height: 50px;
}

.op-grow {
    margin: 20px;
    padding: 20px;
    max-width: 400px;
    border: 1px solid black;
    gap: 20px;
    cursor: pointer;
}

.op-shroom-name {
    font-size: 24px;
}

.op-title {
    font-size: 36px;
}

.op-info-row {
    gap: 5px;
}

.op-info {
    font-weight: bold;
}