.welcome-container {
    
    
    justify-content: center;
    align-items: center;
    
    margin-top: 20%;
    margin-bottom: 0px;
    
    
}


.welcome-text {
    font-size: 48px;
    color: #EED1AB;
    font-family:sans-serif
}

.motto{
    font-family: sans-serif;
    color: #8f7c63;
}



.footer.footer{
    height: 50px;
    background-color: #61734C;
    line-height:50px;
    margin-top:30%;
    
    align-items: center;
    width: 99.4%;
    color: rgb(207, 207, 207);
}



