.yield-card{
    width: 90%;
    padding: 10px;
}

.yields-history-link {
    text-decoration: underline;
}

.yield-col {
    padding: 0 30px;
}

.yield-grams-value {
    font-size: 36px;
}

.yield-grams-label {
    margin-top: -15px;
}

.yield-mushroom-name {
    font-size: 24px;
}

.yield-info{
    max-width: 240px;
}

.yield-value {
    width: 75px;
}

@media only screen and (min-width: 640px) {
    .yield-card {
        justify-content: space-between;
    }
}



@media only screen and (max-width: 639px) {
    .yield-card {
        justify-content: center;
    }
}
